* {
  --Red: #ad343e;
  --White: #ffffff;
  --Blue: #2b64d5;
  --Gray: #afafaf3a;
  --Black: #000000;
  font-family: 'futura', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(238, 238, 238, 0.438);
  padding-bottom: 10rem;
}

li {
  list-style-type: none;
  cursor: pointer;
}

.dropdown:hover {
  background-color: var(--Gray);
}

li span {
  padding-left: 2rem;
}

.fa-caret-down {
  color: black;
}

.dropdown {
  border: 1px solid rgb(195, 195, 195);
}

main {
  padding-top: 2rem
}

main h2 {
  text-align: center;
}

header h1 {
  padding: 1.5rem 0;
  color: #fff;
  text-align: center;
  background: var(--Blue);
  font-size: 50px;
}

table {
  width: 300px;
  text-align: center;
}

th,
td {
  padding: 5px 0;
  border-radius: 20px;

}

table td:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.37);
}

.activity-list li {
  padding: 1rem 0;
}

i {
  margin-left: 1rem;
  cursor: pointer;
}

.calendar,
.workout-tracker {
  width: 400px;
  margin: 0 4rem;
}

.goal-setting li {
  border: 1px solid var(--Gray);
  padding: 1rem;
}

.calendar-table {
  margin: auto;
}

.activity-list {
  text-align: left;
}

.activity-list i {
  float: right;
}

p {
  display: inline-block;
  width: 100px;
}

.workout-type {
  width: 125px;
}

.red,
.blue {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  border: 2px solid var(--Red);

}

.blue {
  border: 2px solid var(--Blue);
}

.weight-training {
  margin: auto;
  width: 25px;
  height: 25px;
  border: 2px solid var(--Blue);
  border-radius: 50%;
}

.cardio {
  margin: auto;
  width: 25px;
  height: 25px;
  border: 2px solid var(--Red);
  border-radius: 50%;
}

.weight-training,
.cardio {
  margin-bottom: 3px;
}

.goal-setting li span {
  margin-left: 3.5rem;
}

.goal-setting li i {
  float: right;
}

@media (max-width: 1055px) {
  .workout-tracker h2 {
    margin-top: 2rem;
  }
}

.drop-down-options {
  display: flex;
}

.drop-down-options li {
  padding-right: 20px;
}


input[type="checkbox"] {
  display: none;
}

.drop-down-options {
  display: none;
}

#checkbox_toggle:checked~.drop-down-options {
  display: block;
}

#checkbox_toggle2:checked~.drop-down-options {
  display: block;
}

#checkbox_toggle3:checked~.drop-down-options {
  display: block;
}

.dropdown {
  padding: 1rem 0;
}

footer {
  text-align: center;
  background-color: var(--Blue);
  color: var(--White);
  padding-bottom: 1rem;
}

footer i {
  color: var(--White);
}

footer p {
  width: 100%
}